<!doctype html>
<html>
<heap>
	
	<link rel="stylesheet" href="style.css">
	</link>

	<title> UQ SOLUTIONS </title>

</heap>

<body>

	<header>

	<!--Titulo-->

	<h1>UQ SOLUTIONS</h1>


	</header>

	<div class="contenido">
		
		<nav class="navegacion">

		<!--Navegacion-->

		<ul>

			<li>Inicio</li>
			<li>Mi perfil</li>
			<li>Programas</li>
			<li>Profesores</li>

		</ul>

		</nav>
		

		
		<section class="main">
		<!--Main content-->

		<p>
			En esta pagina podras encontrar todos los parciales solucionados de los semestres anteriores de todas las carreras que se dictan en la Universidad del Quindio.
 			<br><br>
			Estos parciales son compartidos por tus propios compañeros asi que estos pueden estar correctos o incorrectos. De igual manera tu tienes la opcion de subir tus propios parciales y compartirlos con tus compañeros con el fin de que esta pagina cresca y pueda ayudar a toda la comunidad Uniquindiana.
		</p>

		</section>

		<div class="login">

			<h3>Login</h3>

			<p>
                <label for="username">User:</label>
                <input name="username" id="username" type="text" required/>
            </p>
            <p>
                <label for="password">Password:</label>                    
                <input name="password" id="password" type="password" required/>
            </p>

            <p><a class="registrarse" href="registro.html" >Registrarse</a>

            <button value="login">Log in</button></p>


		</div>
		
	</div>


	<footer>

	<!--Pie-->

	</footer>

</body>

</html>
	