<!doctype html>
<html>
<heap>
	
	<link rel="stylesheet" href="style.css">
	</link>

	<title> UQ SOLUTIONS </title>

</heap>

<body>

	<header>

	<!--Titulo-->

	<h1>UQ SOLUTIONS</h1>


	</header>

	<div class="contenido">
		
		<nav class="navegacion">

		<!--Navegacion-->

		<ul>

			<li>Inicio</li>
			<li>Mi perfil</li>
			<li>Programas</li>
			<li>Profesores</li>

		</ul>

		</nav>
		

		
		<section class="areaRegistro">
		<!--Main content-->

			<h3>Registro de usuario</h3>

			<p>
                <label for="nombre">Nombre:</label>
                <input name="nombre" id="nombre" type="text" required/>
            </p>

            <p>
                <label for="apellido">Apellido:</label>
                <input name="apellido" id="apellido" type="text" required/>
            </p>

            <p>
                <label for="username">Nombre de usuario:</label>
                <input name="username" id="username" type="text" required/>
            </p>

            <p>
                <label for="password">Contrase&ntilde;a:</label>                    
                <input name="password" id="password" type="password" required/>
            </p>

            <p><button value="registrarse">Registrar</button></p>

		</section>

	
		
	</div>


	<footer>

	<!--Pie-->

	</footer>

</body>

</html>